html,body {height:100%; width:100%;}
html {font-size:10px;}
body {margin:0; font-family: 'Arial', system-ui, sans-serif; font-size:1.6rem; background:#fff; line-height:1em;}
a {text-decoration:none;} a:hover {color:#0092ff;}
a img {border:none;}
img {/*display:block;*/ border:0;}
ul {margin:0;padding:0;}
li {list-style:none;}
h1, h2, h3, h4, h5, h6 {margin:0; font-family:'Segoe UI Regular', Helvetica Neue, Arial,sans-serif; -webkit-font-smoothing: antialiased; line-height:1em;}
p {margin:0;line-height:1.8em;}
form {padding:0;margin:0;border:none;}
fieldset {padding:0;margin:0;border:none;}
input {margin:0;padding:0; box-sizing:border-box; padding:1em; border:none; background:none;}
	button {border:none;margin:0;padding:0; background:none;}
	button.text-align-left {text-align:left;}
input:focus, textarea:focus {outline: none;}
select {border:none;}
textarea {width:100%; max-width:100%;}
/*ul.menu-nested li ul {display:none;}*/
/*ul.menu-nested li:hover ul {display:block; position:absolute;}*/
/*ul li ul {font-size:0.8em; margin-left:1em;}*/
/*nav ul li ul , ul li ul {display:none;}*/
/*nav ul li:hover ul , ul li:hover ul {display:block; position:absolute;}*/
/*nav ul li ul li ul {display:none;}*/
/*ul li ul li:hover ul {display:block;}*/

.menu-nested .showHide{display:none; position:absolute;}
.menu-nested li:hover .showHide{display:block;}
.menu-nested.style01 li .showHide{width:100%;max-width:200px;right:0px; transform: translate(calc(-100px), 0%); background:red; padding:10px;}
.menu-nested.style01 li .showHide .mn {display:flex; flex-direction:column;}
.menu-nested.style01 li button{cursor:pointer;}

::placeholder {color:#aaa; opacity: 1; /* Firefox */}
:-ms-input-placeholder { /* Internet Explorer 10-11 */ color:#7f7f7f;}
::-ms-input-placeholder { /* Microsoft Edge */ color:#7f7f7f;}


/* COMMON UI ELEMENTS - inserted at 2024/09/02 @10:34am*/

	/*BACKGROUND*/
	.bgcolor-black {background:#000;}
	.bgcolor-blue {background:#00f;}
	.bgcolor-green {background:#0f0;}
	.bgcolor-red {background:red;}
	.bgcolor-white {background:white;}
	/*TEXT COLOR*/
	.color-black {color:black;}
	.color-blue {color:blue;}
	.color-red {color:red;}
	.color-white {color:white;}
	/*BORDER COLOR*/
	.border-black {color:1px solid black;}
	.border-red {color:1px solid red;}

	.border-bottom {border:none; /*border-bottom:1px solid #000;*/}
	.centered {margin:0 auto;}
	

	.height-100 {height:100%;}
	.width-100,
	button.width-100 {width:100%;}
	.width-70 {width:70%;}
	.width-50 {width:50%;}

	.margin-bottom-5 {margin-bottom:5px;}
	.margin-bottom-10 {margin-bottom:10px;}
	.margin-bottom-15 {margin-bottom:15px;}
	.margin-bottom-20 {margin-bottom:20px;}
	.margin-bottom-25 {margin-bottom:25px;}
	.margin-bottom-30 {margin-bottom:30px;}
	.margin-bottom-35 {margin-bottom:35px;}
	.margin-bottom-40 {margin-bottom:40px;}
	.margin-bottom-45 {margin-bottom:45px;}
	.margin-bottom-50 {margin-bottom:50px;}

	/*ul.flex-child li,
	ul.flex-child ol {display:flex;}
	ul.li-width-100 li,
	ul.li-width-100 ol {width:100%}
	ul.hz-list-item li,
	ul.hz-list-item ol {flex-direction:row;}
	ul.vt-list-item li,
	ul.vt-list-item ol {flex-direction:column;}
	ul.space-between li,
	ul.space-between ol {justify-content:space-between;}*/

	.txt-align-center {text-align:center;}
	.txt-align-left {text-align:left;}
	.txt-align-right {text-align:right;}
	.txt-lrg-20 {font-size:3.6rem;}
	.txt-lrg-19 {font-size:3.5rem;}
	.txt-lrg-18 {font-size:3.4rem;}
	.txt-lrg-17 {font-size:3.3rem;}
	.txt-lrg-16 {font-size:3.2rem;}
	.txt-lrg-15 {font-size:3.1rem;}
	.txt-lrg-14 {font-size:3.0rem;}
	.txt-lrg-13 {font-size:2.9rem;}
	.txt-lrg-12 {font-size:2.8rem;}
	.txt-lrg-11 {font-size:2.7rem;}
	.txt-lrg-10 {font-size:2.6rem;}
	.txt-lrg-9 {font-size:2.5rem;}
	.txt-lrg-8 {font-size:2.4rem;}
	.txt-lrg-7 {font-size:2.3rem;}
	.txt-lrg-6 {font-size:2.2rem;}
	.txt-lrg-5 {font-size:2.1rem;}
	.txt-lrg-4 {font-size:2.0rem;}
	.txt-lrg-3 {font-size:1.9rem;}
	.txt-lrg-2 {font-size:1.8rem;}
	.txt-lrg-1 {font-size:1.7rem;}
	.txt-mid {font-size:1.6rem;}
	.txt-sml-1 {font-size:1.5rem;}
	.txt-sml-2 {font-size:1.4rem;}
	.txt-sml-3 {font-size:1.3rem;}
	.txt-sml-4 {font-size:1.2rem;}
	.txt-sml-5 {font-size:1.1rem;}
	.txt-sml-6 {font-size:1.0rem;}

	.bold-100 {font-weight:100;}
	.bold-200 {font-weight:200;}
	.bold-300 {font-weight:300;}
	.bold-400 {font-weight:400;}
	.bold-500 {font-weight:500;}
	.bold-600 {font-weight:600;}
	.bold-700 {font-weight:700;}
	.bold-800 {font-weight:800;}
	.bold-900 {font-weight:900;}

	.uppercase {text-transform:uppercase}


	/*.space-between {justify-content:space-between;}*/

	/*.vt-flex-center {display:flex; align-items:center;}
	.hz-flex-center > * {margin:0 1em;}
	.hz-flex-center > *:first-child {margin-left:0;}
	.hz-flex-center > *:last-child {margin-right:0;}*/


	input[type='text'], input[type='search'] {width:100%;}
	input::placeholder {color:#aaa; opacity:1;}

	
	.flex {display:flex;}
	/*.flex-content-center {display:flex; justify-content:center; align-items:center;}*/
	.flex-1 {flex:1;}
	.flex-content-start{justify-content:start;}
	.flex-content-end{justify-content:end;}
	.flex-dir-column {flex-direction:column;}
	.flex-dir-row {flex-direction:row;}
	.flex-space-between {justify-content:space-between;}
	.flex-space-center {justify-content:center;}

	.flex-center {align-items:center; justify-content:center;}
	.flex-center-vt {align-items:center;}
	.flex-center-hz {justify-content:center;}

	.gap-5 {gap:5px;}
	.gap-10 {gap:10px;}
	.gap-15 {gap:15px;}
	.gap-20 {gap:20px;}
	.gap-25 {gap:25px;}
	.gap-30 {gap:30px;}
	.gap-35 {gap:35px;}
	.gap-40 {gap:40px;}
	.gap-45 {gap:45px;}
	.gap-50 {gap:50px;}
	.gap-75 {gap:75px;}
	.gap-100 {gap:100px;}
	.gap-150 {gap:150px;}
	.gap-200 {gap:200px;}

	.image img {display:block;} /*resolve height issue with parent <div> box around <img> tag*/

/*font-family: "SegoeUI", Helvetica Neue, Arial,sans-serif; -webkit-font-smoothing: antialiased;*/

/*#id-3882 { style="background:url('img/las-vegas-nevada-us/pexels-snapwire-165799.jpg'); background-size:cover; background-position:10% 70%;"}*/


	.section .bkgnd {position: absolute; top: 0; width: 100%; z-index:0;}
	.section .bkgnd > .image {width:100%; z-index:-100; position:relative;}
	.section .bkgnd > .image img {width:100%; /*margin: -25% 0 0 -0%;*/ /*margin: -10% 0 0 -10%; margin: -4% 0 0 7%;*/}
	.section .bkgnd.wide {max-width:none;}

/* THEME STYLE */
	body#home {background:tomato;}
	.section.feature_area {height:1080px; background:beige; margin-top:-124px;} /*orange #ffd483*/
	.home #search-bar-top {display:none;}
	.home .header {background:none;}

/* HEADER */
.header {z-index:10000; background:#fff; /*background:#fdfdfd;*/ position:fixed; padding-bottom:10px;}
.header .section-body {width:90%; padding:32px 0px; max-width:1330px;}/*width:96.354167%; margin:20px auto 0 auto;*/
	.header .center {/*float:left; margin-left:100px;*/ margin: 0 auto;}
	.header .right {width:calc((100% - 322px) / 2);}
	.header .wide {float:left;width:100%; clear:both;margin-top:15px;}
	.header .btn {display:block; float:left; font-size:1.4rem; padding:0.6em 0.8em; border-radius:4px; background:#777; border:1px solid #333; color:#fff; margin-top:-0.6em; margin-left:5px;}
	.header .btn.none {border: 1px solid transparent; background: transparent; color: #333;}

	#logo {float:left; /*padding-top:13px;*/}
	#logo img, #logo svg {/*width:72px;*/ width:20vw; max-width:70px;}


	.nav-menu-hz li {margin: 0 20px; float: left;} /*library overwrite*/
	.nav-menu-hz a {float: left; font-size: 1.4rem; text-decoration: none; color: #3c4043; /*border: none; padding: 0;*/ border-bottom: 4px solid transparent;
  padding: 0 0.8em 0.8em;} /*library overwrite*/
  	.nav-menu-hz a:hover, .nav-menu-hz a:active {border-bottom: 4px solid #333;}

	.hz-inline {}
	.hz-inline > * {display:inline;}/*display:inline-block;*/
	/*.hz-inline a {float:left; border:1px solid #ccc; padding: 0.4em 0.5em; border-radius: 4px; margin:0 10px 10px 0; width:fit-content;}*/
	.hz-inline button {border:1px solid #ccc; padding: 0.4em 0.5em; border-radius: 4px; margin:0 5px 10px;}


	form#headerSearch {height:52px;width:440px;}
	form#headerSearch input {height:52px; width:368px; border-bottom:1px solid #ddd; padding: 0 10px; font-size: 18px;}
	form#headerSearch #search-button,
	form#headerSearch button {background:#fe6328; height:52px;width:52px;border-radius:52px;}
	form#headerSearch div#search-button svg {}
	form#headerSearch button#search-button svg {}


	/*#results {width:100%;}
	#results li{height:auto; width:100%; padding:0.6em 0 0.15em;margin-bottom:6px;}
	#results li > a {display:block; width:100%;}
	#results li b {font-size:1.4em; color:#000; font-weight:100;}
	#results li span {width:100%; display:block;}*/

	.box .item .image {/*height:133.3333px;*/ background:#ccc; border-radius:8px;}


	.btn-settings .btn {float:left; display: block; margin: 0 5px; border:1px solid #667; background:#ccc; height:30px; width:30px; border-radius:50%; overflow: hidden; text-align:center;}


	.firow {color: #333; font-family:segoe ui;}
	.firow .carousel .xaxis {height:426px;}
	.firow h1, .firow h2, .firow h3 {color:#333; font-weight:600;}
	.firow .masthead {width:100%; clear:both}
	.firow .masthead > .row {width:100%; clear:both;}
	.firow a {text-decoration:underline; color: #333; font-weight:600;}
	.firow.left {float:left; width:51.99973591549296%; padding-top: 18px; /*background:pink;*/}
/*	.firow.left:nth-child(1) {border-bottom:1px solid #000;}*/
	.firow.left > .box {margin-bottom:60px; /* */padding-bottom:24px; margin-bottom:24px;}
	.firow.left > .box h2.txt-1 {height:38px; margin-bottom:24px; font-size:2.8rem;}
	.firow.left > .box h2.txt-2 {height:38px; margin-bottom:24px; font-size:2.4rem;}
	.firow.left > .box > p {width:100%; font-size:1.6rem; line-height: 1.5em; margin: 0 0 30px;}
	.firow.right {float:right; width:42.36646126760563%; background:pink;}
	.firow .card {box-sizing:border-box; border:1px solid #000; border-radius:20px; height:100%; float:left;}
	.firow .card > .row > span.txt-1 {padding:0.3em; border:1px solid blue; display:inline-block;}

	.firow ul.accordian {width:100%;}
	.firow ul.accordian h3 {font-size: 1.8rem;font-family: segoe ui;}
	.firow ul.accordian .list-style {font-size: 1.6rem; background: #333; color: #fff; display: block; float: left; border-radius: 50%; text-align: center; margin-right: 0.75em; font-family: segoe ui; padding: 0.3em 0.85em; line-height: 1.6em; margin-top: -0.4em;}
	/*.firow ul.accordian h3::before {
		content: '1';
		width: 1.5em;
		height: 1.5em;
		background: #333;
		color: #fff;
		display: block;
		float: left;
		border-radius: 50%;
		text-align: center;
		margin-right: 0.75em;
	}*/
	.firow ul.accordian li {width:100%; clear:both; margin-bottom:0; box-sizing:border-box; border-bottom: 1px solid #ccc;}
	.firow ul.accordian li:last-child{border-bottom:1px solid transparent;}
	.firow ul.accordian li > .title {width:100%; padding:1.8em 1.5em 1.8em 0;}
	.firow ul.accordian li > .showHide {width:100%; display:none;}
	.firow ul.accordian li > .showHide .image {width:100%; height:200px; border-radius:8px; overflow:hidden;}
	.firow ul.accordian li > .showHide .image img {height:100%;}
	.firow ul.accordian li > .showHide > .row {width:100%; clear:both;}
	.firow ul.accordian li > .showHide > .Footer {width:100%; height:20px;}

	.carousel button {float:left; border-radius:4px; padding:10px 17px; background:#eee; margin: 0 5px;}

	/*.carousel .xaxis {width:200%;}*/
	.carousel .xaxis .card {width:346px; padding:16px; background: #ececec;}
	.carousel .xaxis .card > .row {width:100%; clear:both; margin-bottom:10px;}
	.image img {background:#ccc;width:100%;/* height:100px;*/}
	.image.left {float:left; width:50%;}
	.caption.right { style="float:right; width:50%;"}

	.h1-text {font-family:'Segoe UI';}
	.h1-text h1 {font-size:1.5rem; color:#667; margin-bottom:22px; line-height:1.4rem; letter-spacing:-0.01rem;}
	.h1-text p {font-size:0.75rem; color:#667; line-height:1.2rem; margin-bottom:15px;}
	.h1-text a.btn {display:block; border-radius:30px 30px 30px 30px; padding:0.6rem 2rem; border:1px solid; text-align:center; font-weight:700; font-size:14px; width:6rem; margin:0 auto;}
	.h1-text a.btn:hover {background:#000;color:#fff; border-color:transparent;}




/*FOOTER*/
#footer {height:50px;}
	#footer .section-body {/*width:1360px;*/width:70.83333333333333%;}
	#footer .left {float:left;width:150px;}
	#footer .center {float:left;width:calc(100% - 590px);}
	#footer .right {float:left;width:440px;}
	#footer .wide {float:left;width:100%; clear:both;margin-top:15px;}


/* FORMS */

	.search-bar-center {height:50px; border:1px solid; width:100%;}
	.search-bar-center .input {float:left; height:100%; padding:0 10px; width:calc(100% - 85px); border:none; font-size:2.1rem; color:#444;}
	.search-bar-center .search-btn {padding:1em 10px; border:1px solid transparent; width:65px;}
	.search-bar-center .list {border:1px solid; border-top:1px solid transparent; box-sizing:border-box;}

	.search-bar-top {float:left; clear:both; width:calc(100% - 160px); height:34px; /*margin-top:-7px;*/ margin-top:-0.6em;}
	.search-bar-top .input { height:30px; border:1px solid transparent;}
	.search-bar-top .input input:focus {border-bottom:1px solid red;}
	.search-bar-top .search-btn {}
	.search-bar-top .list { background:#fbfbfb; border-radius: 0 0 10px 10px;}
	.search-bar-top .list li:focus,
	.search-bar-top .list li:hover {background:blanchedalmond;}
	.search-bar-top .list a {color:#000; display:block;}


.travelplanner {width:100%;}
.travelplanner .head {width:100%;}
.travelplanner .body {width:100%;}
.travelplanner .form {width:100%;}
.travelplanner .btn li {display:inline-block; margin: 0 0.2em 0.4em;}
.travelplanner .btn button {padding:1em; background:navy; color:#fff; border-radius:0.5em;}




@media all and (max-width: 1024px) and (min-width:0px) {
	.overlay {top:0px; position:fixed;}

	/*.header {width: 100vw;}*/
	.header .section-body {width: 88.8889%;}
	.header .hide {display:none;}

	#content {width:100%; margin:0 auto;}
	/*.section .content-margin {width:92%;}*/
	.section .content-margin {max-width:88.8889%;}
	.fullWidth .title {width:90%;}
	.fullWidth .title h1 {font-size:4.8rem;}
	.fullWidth .width-50 {width:100%;}
	.fullWidth .width-70 {width:100%;}

	.fullWidth .title.width-50,
	.fullWidth .item-centered.width-50,
	.item-centered.width-50 {width:100%;}

	.col-3 > .sp,
	.col-3 > .sp-2 {width:100%; clear:both;}

	.firow.left {width: calc(100% - 40px); margin: 0 20px;}

	nav#menu {display:none;}
	nav#menu.open {display:block;}
	.icon {display:block;}
	form#headerSearch fieldset {display:none;}
	.header .center {float:right; width:50px; height:100%;}
	.header .right {width:auto;}

	.mobile-btn {display:block; visibility:visible; width:30px; height:30px; margin-left:5px; float:left;}
	.mobile-btn button {width:100%; height:100%; background:pink; border:1px solid red; border-radius:50%;}
	.mobile-btn button img {width:65%; /*width:5.5556vw; max-width:18px;*/}

	.close-btn {display:block;}
	.nav-menu-hz {display:none; position:fixed; left:0; right:0; bottom:0; height:100vh; width:100vw; z-index:10000; background:aliceblue;}
	.nav-menu-hz.open {display:block;}
		.nav-menu-hz.open > img {display:block;}

	.nav-menu-hz ul {width:100%; margin:0 auto;}
	.nav-menu-hz ul li {float:left; margin:0 0 5px; clear:both; background:green; width:100%; height:20px; padding:10px;}
	.nav-menu-hz ul li a {display:block;}

	.results {width:85%;}

	.search-bar {float:left; height:auto;}
	.search-bar .list {width:100%;}

	.search-bar-top {display:none; background:#fff; position:fixed; left:0px; top:0px; height:100vh; margin:0 !important; padding:40px 20px; width:calc(100% - 40px);}
	.search-bar-top.open {display:block !important;}
	.search-bar-top .input {width:90%; display:block;}
/*	.search-bar-top .list {width:110%;}*/
	.search-bar-top .search-btn {width:10%;}
}



/*@media all and (max-width:1440px) and (min-width:0px) {
	nav#menu {display:none;}
	nav#menu.open {display:block;}
	.icon {display:block;}
	form#headerSearch fieldset {display:none;}
	.header .center {float:right; width:50px; height:100%;}
	.header .right {float:right; width:50px; height:100%;}
}*/

@media all and (max-width:1440px) and (min-width:1281px) {
	/*body {background:aqua;}*/
}

@media all and (max-width:1280px) and (min-width:1025px) {
	/*body {background:orange;}*/
}

@media all and (max-width:1024px) and (min-width:769px) {
	/*body {background:yellow;}*/
}

@media all and (max-width:768px) and (min-width:641px) {
	/*body {background:orange;}*/
}

@media all and (max-width:640px) and (min-width:481px) {
	body {background:yellow;}
}

@media all and (max-width:480px) and (min-width:0px) {
	/*body {background:pink;}*/
/*	.section.feature_area {margin-top:-40px;}*/
	.list.card-305x230 {height:100px;}
	.list.card-305x230 .card {width:100%;}
	.list.card-305x230 .image {width:120px; height:90px;}
	.list.card-305x230 .caption {width:calc(100% - 120px - 20px - 50px);}
}



/*

PORTFOLIO INSPIRATION https://www.youtube.com/@codehal

	dppx = device_resolution/css_pixel_ratio

	devicePixelRatio
*/



/*body {
	background: linear-gradient(to left, red, orange, greenyellow);
}


Quick CSS Loading Animation | Html CSS Animation Effects (Short Tutorial) #html #css #shorts  - https://www.youtube.com/watch?v=4FgDNUaOcto
[PSEUDO ELEMENT ::before] https://www.youtube.com/watch?v=LQsjNmkqUOc


*/
